<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div>
        <div class="logo"><span class="c">CRUISE</span> <span class="i">International</span></div>
        <div class="info">
          모두투어 크루즈 전문 자회사<br>
          서울특별시 중구 남대문로<br>
          대표전화 02-775-0100<br>
          cruise@cruise.co.kr
        </div>
      </div>
      <div>
        <h5>항해</h5>
        <a href="/voyages/">전체 항해</a>
        <a href="/regent/med-splendor-2026-06/">지중해 올인클루시브 10박</a>
        <a href="/royalcaribbean/singapore-straits-2026-11/">싱가포르 해협 5박</a>
        <a href="/blog/">블로그</a>
      </div>
      <div>
        <h5>선사</h5>
        {% for cl in site.data.cruiselines %}
        <a href="/{{ cl.slug }}/">{{ cl.name_ko }}</a>
        {% endfor %}
      </div>
      <div>
        <h5>고객 지원</h5>
        <a href="/contact/">상담 문의</a>
        <a href="tel:02-775-0100">전화 02-775-0100</a>
        <a href="/about/">회사 소개</a>
      </div>
    </div>
    <div class="footer-bottom">
      <span>© 2000–2026 Cruise International. All rights reserved.</span>
      <span>모두투어네트워크 계열</span>
    </div>
  </div>
</footer>
