<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div>
        <div class="logo"><span class="c">CRUISE</span> <span class="i">International</span></div>
        <div class="info">
          모두투어 크루즈 전문 자회사<br>
          서울특별시 중구 남대문로<br>
          대표전화 02-775-0100<br>
          cruise@cruise.co.kr
        </div>
      </div>
      <div>
        <h5>울트라 럭셔리</h5>
        <a href="/regent/">리젠트 세븐시즈</a>
        <a href="/silversea/">실버시</a>
        <a href="/crystal/">크리스탈</a>
        <a href="/ritzcarlton/">리츠칼튼 요트</a>
        <a href="/fourseasons/">포시즌스</a>
      </div>
      <div>
        <h5>프리미엄 & 특화</h5>
        <a href="/oceania/">오세아니아</a>
        <a href="/paulgauguin/">폴고갱</a>
      </div>
      <div>
        <h5>고객 지원</h5>
        <a href="/contact/">상담 신청</a>
        <a href="/blog/">블로그</a>
        <a href="/about/">회사 소개</a>
      </div>
    </div>
    <div class="footer-bottom">
      <span>© 2000–2026 Cruise International. All rights reserved.</span>
      <span>모두투어네트워크 계열</span>
    </div>
  </div>
</footer>
